/target/
/bin/
/.classpath
/.project
/aqcu-dv-hydro-application.yml
/.settings/
/application.properties
/application.yml
/.vscode/
/aqcu-dv-application.yml
**/*.crt
**/*.csr
**/*.key
**/*.chain
docker/certificates/intermediate1
docker/certificates/root
docker-compose-local.yml
